body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin:1% 20%;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    min-height: 300px;
}

h1 {
    font-weight: 300;

}

header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;

}
#header_img img {
    width: 60px;
    height: 60px;
    float: right;
}
#header_img{
    width: 35%;
    float: left;
}
#header_title{
    width:65%;
    float: right;
}
main {

}
@media only screen and (max-width: 600px) {
  body{
    margin:1% 2%;

  } 
  #header_title  {
    width: 80%;

  }

  #header_img {
      width: 20%;
  }
}